<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
       <!-- <p v-if="age > userAge">
           You are Over Age
       </p>
       <p v-else-if="name === 'Riaz'">
        You Are Allowed to enter
       </p>
       <p v-else>
           You are not old enough
       </p> -->
       <p v-show="checkUser()">
        You are also Riaz
       </p>
       <p v-if="checkUser()">
        You are Riaz
    </p>
    </div>
</body>
<script>
    const App = {
        data(){
            return{
                name: 'Riaz',
                age: 15,
                userAge: 18
            }
        },
        methods:{
            checkUser(){
                return this.name === 'Riaz' ? true : false 
            }
        }
    }
    Vue.createApp(App).mount('#app')
</script>
</html>